.burger {
  display: none;
  background-color: transparent;
  width: 28px;
  height: 23px;
  transform: rotate(0deg);
  border: none;
  cursor: pointer;
  z-index: 300;
}

.patty {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 12px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transform-origin: left center;
  pointer-events: none;
}

.pattyAnimate {
  composes: patty;

  transition: 300ms ease-in-out;
}

.patty:nth-child(1),
.pattyAnimate:nth-child(1) {
  top: 0px;
}

.patty:nth-child(2),
.pattyAnimate:nth-child(2) {
  top: 9px;
}

.patty:nth-child(3),
.pattyAnimate:nth-child(3) {
  top: 18px;
}

.pattyActive {
  composes: patty;
  background: var(--main-color);
  opacity: 0.6;
}

.pattyActiveAnimate {
  composes: pattyAnimate;
}

.pattyActive:nth-child(1),
.pattyActiveAnimate:nth-child(1) {
  transform: rotate(45deg);
  top: 0;
  left: 8px;
}

.pattyActive:nth-child(2),
.pattyActiveAnimate:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.pattyActive:nth-child(3),
.pattyActiveAnimate:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 8px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
