.burger {
  display: none;
  background-color: transparent;
  width: 25px;
  height: 22px;
  border: none;
  cursor: pointer;
  z-index: 300;
  padding: 0;
  position: relative;
}

.patty {
  display: block;
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: var(--main-color);
  border-radius: 12px;
  opacity: 1;
  left: 0;
  transform-origin: left center;
  pointer-events: none;
}
.pattyActive {
  composes: patty;

  opacity: 0.6;
}

.pattyAnimate {
  composes: patty;

  transition: 300ms ease-in-out;
}
.pattyAnimateActive {
  composes: pattyAnimate;

  opacity: 0.6;
}

.patty:nth-child(1),
.pattyAnimate:nth-child(1) {
  top: 0;
}

.patty:nth-child(2),
.pattyAnimate:nth-child(2) {
  top: 9px;
}

.patty:nth-child(3),
.pattyAnimate:nth-child(3) {
  top: 18px;
}

.pattyActive:nth-child(1),
.pattyAnimateActive:nth-child(1) {
  transform: rotate(45deg);
  left: 3.5px;
}

.pattyActive:nth-child(2),
.pattyAnimateActive:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.pattyActive:nth-child(3),
.pattyAnimateActive:nth-child(3) {
  transform: rotate(-45deg);
  left: 3.5px;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
