.navLinks {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.navLinksGroup {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0.5em;
}

.navLinksGroup a {
  text-decoration: none;
  color: var(--link-color);
  margin: 0 0.5em;
  transition: opacity 100ms ease-in;
}
.navLinksGroup a:hover {
  opacity: 0.6;
}

.navLinksGroupLeft {
  composes: navLinksGroup;

  max-width: 600px;
}

.navLinksGroupRight {
  composes: navLinksGroup;

  max-width: 400px;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .navLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--height);
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    padding: 0 2em;
    background-color: var(--menu-bg-color);
    overflow: hidden;
  }

  .navLinksAnimate {
    composes: navLinks;

    transition: height 200ms ease-in, width 200ms ease-in,
      border-radius ease-in 200ms;
    border-bottom-left-radius: 150%;
  }

  .navLinksShow {
    composes: navLinks;

    width: var(--slider-width, 100%);
    height: calc(100vh - var(--height));
  }

  .navLinksAnimateShow {
    composes: navLinksShow;

    border-bottom-left-radius: 0;
    transition: height 300ms ease-out, width 300ms ease-out,
      border-radius ease-out 300ms;
  }

  .navLinksGroup {
    flex-direction: column;
    align-items: flex-end;
  }

  .navLinksGroup a {
    font-size: 1.1em;
    margin: 0.5em 0;
  }

  .navLinksGroupLeft,
  .navLinksGroupRight {
    max-width: unset;
  }
}
